<div class="container">
    <div class="bloc" >
        <label for="ctrl1" class="file-label">Choisir un dossier source :</label>
        <input type="file" id="ctrl1" webkitdirectory directory multiple class="file-upload" onchange="console.log(event.target.files)">
       </div> 
       <div class="bloc" >
        <label for="ctrl2" class="file-label">Choisir un dossier target :</label>
        <input type="file" id="ctrl2" webkitdirectory directory multiple class="file-upload" onchange="console.log(event.target.files)">
    </div>
    </div>
    
<p>Résultat de la fusion:</p>    